:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  font-family: Inter;
}

header {
  height: 100px;
  border-bottom: 1px solid black;
  margin: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Datatype", sans-serif;
}

header > h1 {
  margin: 0;
  padding: 0;
  color:black;
}

.location-container {
  display: flex;
  column-gap: 20px;

}

main {
  max-width: 80%;
  margin: auto;
  padding: 10px;
  position: relative;
}

.location-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.location-info > h1 {
  font-family: "Cinzel";
  color: #2c2c2c;
}

.location-specs {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.mini-text {
  font-size: xx-small;
}

.location-description {
  max-width: 400px;
}

.image-container {
  height: 250px;
  width: 160px;
  overflow: hidden;
  border-radius: 5px;
  position: absolute;
  left: 600px;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info-size {
  font-size: small;
}